<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.CompaniesPageTestCases"/>
      <class name="testCases.Sample"/>
      <class name="testCases.ExtentTestReport"/>
      <class name="testCases.contactPageTestCases"/>
      <class name="base.BasePage"/>
      <class name="testCases.ExcelDataProvider"/>
      <class name="testCases.FirstTestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
